div#lsscAppStore{
    background: red;
    color: orangered;
    box-sizing: border-box;
    overflow: hidden;

    font-weight: bold;
    transition: height 1s, visibility 1s, opacity 0.5s ease-out;
}
